<div class="container-fluid rounded" style="border:1px solid #E7E7E7; background-color: #F8F8F8;">

  <div class="row">
    <div class="col text-center">
      <br>
      Country: <i>{{ plant.country_long|truncate(15, False, '') }}</i><br>
      Plant ID: <i>{{ plant.plant_id_wri|truncate(20) }}</i><br>
      Primary Fuel: <i>{{ plant.primary_fuel }}</i><br>
      <br>
    </div>
    <div class="col-9 align-self-center">
      <h4>  {{ loop.index }}) {{ plant.name|truncate(20)|title }}</h4>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div id="map_{{ plant.plant_id_wri }}" style="width: 100%; height: 240px"></div>
    </div>
    <div class="col-9">
      {{ plant.name|title }} is the {{ loop.index|humanize('ordinal')|humanize('intcomma')}} dirtiest plant for the selected country.
      Based on our modelling estimates, it produced {{ (plant.cum_co2/2000)|humanize('intword')|humanize('intcomma')}} tons of CO2 in 2019,
      along with {{ plant.cum_nox|humanize('intword')}} lbs of NOx emissions and {{ plant.cum_so2|humanize('intword')|humanize('intcomma') }} lbs of SO2 emissions.
      
      <br><br>
      The 2019 emissions from this plant were equivelant to:
      <ul>
        <li>{{ (plant.cum_co2 / 2204 / 181.85)|humanize('intword')|humanize('intcomma') }} railcars full of coal</li>
        <li>{{ (plant.cum_co2 / 2204 / 4.63)|humanize('intword')|humanize('intcomma') }} average American cars driven for a year.
        <li>the emissions avoided by {{ (plant.cum_co2 / 2204 / 4632)|humanize('intword')|humanize('intcomma') }} wind turbines.</ll>
        <li>the emissions sequested by {{ (plant.cum_co2 / 2204 / 0.77)|humanize('intword')|humanize('intcomma') }} acres of forest.</ll>
      </ul>

      These emissions comprise {{ 100*plant.pct_of_country_co2|round(2)}} percent of {{plant.country_long}}'s cumulative CO2 emissions in 2019. 
      <br><br>
    </div>
  </div>

</div>

<!-- Leaflet Map -->
<script>
  // The first parameter are the coordinates of the center of the map
  // The second parameter is the zoom level
  var map = L.map("map_{{ plant.plant_id_wri }}").setView([{{ plant.latitude }}, {{ plant.longitude }}], 4);
  
  // {s}, {z}, {x} and {y} are placeholders for map tiles
  // {x} and {y} are the x/y of where you are on the map
  // {z} is the zoom level
  // {s} is the subdomain of cartodb
    var layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
  });
  
  // Now add the layer onto the map
  map.addLayer(layer);

  // Add Marker
  L.marker([{{ plant.latitude }}, {{ plant.longitude }}]).addTo(map).bindPopup("{{ plant.plant_id_wri }}");

  // Disable map control
  map.touchZoom.disable();
  map.doubleClickZoom.disable();
  map.scrollWheelZoom.disable();
  map.boxZoom.disable();
  map.keyboard.disable();
  // map.removeControl(map.zoomControl);

</script>