<head>
<!-- DataTable -->
<link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet">

<!-- Plotly -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<!-- JS, Popper.js, and jQuery -->
<!-- <script src="https://code.jquery.com/jquery-1.12.4.js" type="text/javascript"></script> -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<!-- <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet"> -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</head>

{% extends "base.html" %}

{% block app_content %}

<body>

<!-- <h1>This is the country rankings</h1> -->

<div class="container">

    <!-- Emission Selector -->
    <div class="form-group">
        <label for="map-emisison-select">Emission Source to Plot</label>
        <select id="map-emission-select" class="form-control">
            <option value="co2">Carbon Dioxide (CO2)</option>
            <option value="nox">Nitrogen Oxides (NOx)</option>
            <option value="so2">Sulfur Dioxide (SO2)</option>
        </select>
    </div>

    <!-- Map -->
    <div class="row row-no-gutters">
        <div class="col-lg-12">
            <div class="chart" id="country-map">
                <script>
                    var graphs = {{plot | safe}};
                    Plotly.react('country-map', graphs, {});
                </script>
            </div>
        </div>
    </div>

    <!-- Table -->
    <div>
        {{table | safe}}
    </div>

</div>

<!-- Map jQuery -->
<script type="text/javascript">
    $('#map-emission-select').on('change', function(){
        $.ajax({
            url: {{ url_for("main.map_update")|tojson|safe }},
            type: "GET",
            contentType: 'application/json;charset=UTF-8',
            data: {
                'selected': document.getElementById('map-emission-select').value
            },
            dataType: "json",
            success: function (data) {
                Plotly.react('country-map', data );
            }
        });
    })
</script>

<!-- DataTable -->
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js" type="text/javascript"></script>

<script type="text/javascript">
    $('#emission-table').DataTable();
</script>

{% endblock %}
</body>