{% extends "base.html" %}
    
{% block app_content %}

<!-- Intro Container -->
<div class="container">

    <!-- Intro Text-->
    <div class="row my-4">
        <p>
        The map below displays the emissions from every power plant in the world included in the
        <a href=https://datasets.wri.org/dataset/globalpowerplantdatabase> World Resource's Institute Global Power Plant Database from 2019.</a>
        Using sophisticated machine learning techniques combined with daily spectral imagery provided by the European Space Agency's
        <a href = https://sentinel.esa.int/web/sentinel/missions/sentinel-2>Sentinel-2</a> satellite, we are able to attribute observed emissions
        to specific powerplants. While the map below displays cumulative emissions from 2019, our model is capable of predicting daily emissions through
        the previous day.
        <!-- If you want to be notified when these updates are available, please subscribe to our email list.    -->
        </p>
    </div>

    <!-- Dropdown Text -->
    <div class="row my-4">
        From the dropdown menu below, you can select between the three smoke-stack emission sources we model: CO2, NOx, and SO2.
    </div>
    
    <div>
        <ul class="row">
            <li>CO2 (carbon dioxide) is a high priority emission source responsible for <a href=https://www.ipcc.ch/site/assets/uploads/2018/02/WG1AR5_Chapter08_FINAL.pdf>approximately 70%</a> of the increased greenhouse effect brought on by human caused climate change.</li>
            <li>NOx (nitrogen oxides) are an air pollution source that interact with oxygen to create excessive troposhperic ozone buildups along with acid rain and smog.</li>
            <li>SO2 (sulfur dioxide) is a toxic gas that is known to have significant effects upon human health.</li>
        </ul>
    </div>

    <!-- Emission Selector -->
    <div class="row form-group">
        <label for="emission-select"><b>Emission Source to Plot</b></label>
        <select id="emission-select" class="form-control">
            <option value="co2_lbs">Carbon Dioxide (CO2)</option>
            <option value="nox_lbs">Nitrogen Oxides (NOx)</option>
            <option value="so2_lbs">Sulfur Dioxide (SO2)</option>
        </select>
    </div>
</div>

<!-- Map -->
<div class="container">
    <div class="row" id="country-map">
        <script>
            var graphs = {{plot | safe}};
            Plotly.newPlot('country-map', graphs, {}, {scrollZoom : false});
        </script>
    </div>
</div>

<!-- Table Text -->
<div class="container">
    <div class="row mb-4">
        <p>
        Using the same data as in the map above, the table below aggregates 2019 power plant smoke-stack emissions at the country level.
        Columns in the table can be sorted or searched. 
        </p>
    </div>

    <!-- Table -->
    <div>
        {{table | safe}}
    </div>
</div>

<!------------------------------------------------- Scripts ------------------------------------------------->
<!-- Map jQuery -->
<script type="text/javascript">
    $('#emission-select').on('change', function(){
        $.ajax({
            url: {{ url_for("main.map_update")|tojson|safe }},
            type: "GET",
            contentType: 'application/json;charset=UTF-8',
            data: {
                'selected': document.getElementById('emission-select').value
            },
            dataType: "json",
            success: function (data) {
                Plotly.react('country-map', data);
            }
        });
    })
</script>

<script type="text/javascript">
    $('#emission-table').DataTable({
        "columnDefs": [
        {"className": "dt-center", "targets": "_all"}
      ],
      "info" : false,
      order: [[1, 'desc']]
    })
</script>

{% endblock %}