{% extends "base.html" %}

{% block app_content %}


<div class="container">

	<!-- Emission Selector -->
	<div class="row mt-4 form-group">
		<label for="emisison-select"><b>Emission Source to Plot</b></label>
		<select id="emission-select" class="form-control">
			<option value="co2_lbs">Carbon Dioxide (CO<sub>2</sub>)</option>
			<option value="nox_lbs">Nitrogen Oxides (NO<sub>X</sub>)</option>
			<option value="so2_lbs">Sulfur Dioxide (SO<sub>2</sub>)</option>
		</select>
	</div>

	<!-- Country Selector -->
	<div class="row form-group">
		<label for="country-select"><b>Query Dirtiest Power Plants In:</b></label>
		<select id="country-select" class="form-control">
			{% for country in countries %}
				<option>{{ country }}</option>
			{% endfor %}
		</select>
	</div>
</div>

<div class="container">
	<!-- Dirtiest Spline -->
	<div class="row" id="dirtiest-spline">
		<script>
			var graphs = {{dirtiest_spline | safe}};
			Plotly.newPlot('dirtiest-spline', graphs, {});
		</script>
	</div>

	<!-- Emissions by Fuel Source -->
	<div class="row">
		<div class="col-md-6" id="fuel-pie-chart">
			<div class="container">
				<script>
					var graphs = {{fuel_pie_chart | safe}};
					Plotly.newPlot('fuel-pie-chart', graphs, {});
				</script>
			</div>
		</div>

		<div class="col-md-6" id="country-pie-chart">
			<div class="container">
				<script>
					var graphs = {{country_pie_chart | safe}};
					Plotly.newPlot('country-pie-chart', graphs, {});
				</script>
			</div>
		</div>
	</div>

	<!-- Plant Bubble -->
	<div class="row" id="plant-bubble">
		<script>
			var graphs = {{plant_bubble | safe}};
			Plotly.newPlot('plant-bubble', graphs, {autosize: true});
		</script>
	</div>
		
	<!-- MWh Load -->
	<div class="row" id="mwh-load-bubble">
		<script>
			var graphs = {{mwh_load_bubble | safe}};
			Plotly.newPlot('mwh-load-bubble', graphs, {autosize: true});
		</script>
	</div>
</div>

<!-- jQuery -->
<script type="text/javascript">
	
	var urls = [{{ url_for("main.dirtiest_spline_update")|tojson|safe }},
				{{ url_for("main.plant_bubble_update")|tojson|safe }},
				{{ url_for("main.mwh_load_bubble_update")|tojson|safe }},
				{{ url_for("main.fuel_pie_chart_update")|tojson|safe }},
				{{ url_for("main.country_pie_chart_update")|tojson|safe }},
				];
	
	var plots = ['dirtiest-spline', 'plant-bubble', 'mwh-load-bubble', 'fuel-pie-chart', 'country-pie-chart']
	
	var zipped = urls.map(function(e, i) {
		return [e, plots[i]];
	});

	$('#emission-select,#country-select').on('change', function(){
		$.each(zipped, function(i, u){ 
			$.ajax({
				url: u[0],
				type: "GET",
				contentType: 'application/json;charset=UTF-8',
				data: {
					'emission': document.getElementById('emission-select').value,
					'country_long': document.getElementById('country-select').value
				},
				dataType: "json",
				success: function (data) {
					Plotly.react(u[1], data);
				}
			});
		})
	})
</script>

{% endblock %}