
{% extends "base.html" %}

{% block app_content %}

<body>

    <h1>This is the plant rankings</h1>

    <div class="container">

        <!-- Emission Selector -->
        <div class="form-group">
            <label for="plant-country-select">Dirtiest Power Plants In:</label>
            <select id="plant-country-select" class="form-control">
                {% for country in countries %}
                    "<option >{{ country }}</option>"
                {% endfor %}
            </select>
        </div>
        
        <!-- Plants -->
        <div id='plant-response'>
            {% include '_plant_loop.html' %}
        </div>
    </div>

    <!-- Map jQuery -->
    <script type="text/javascript">
        $('#plant-country-select').on('change', function(){
            $.ajax({
                url: {{ url_for("main.plant_update")|tojson|safe }},
                type: "GET",
                contentType: 'application/json;charset=UTF-8',
                data: {
                    'selected': document.getElementById('plant-country-select').value
                },
                dataType: "json",
                success: function (resp) {
                    $('#plant-response').html(resp.data)
                }
            });
        })
    </script>
    
    {% endblock %}
    </body>