<head>
<!-- Plotly -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<!-- JS, Popper.js, and jQuery -->
<!-- <script src="https://code.jquery.com/jquery-1.12.4.js" type="text/javascript"></script> -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<!-- <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet"> -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</head>

{% extends "base.html" %}

{% block app_content %}

<body>

    <h1>This is the plant rankings</h1>

    <div class="container">

        <!-- Emission Selector -->
        <div class="form-group">
            <label for="plant-country-select">Dirtiest Power Plants In:</label>
            <select id="plant-country-select" class="form-control">
                {% for country in countries %}
                    "<option >{{ country }}</option>"
                {% endfor %}
            </select>
        </div>
        
        <div id='plant-response'>
            {% include '_plant_loop.html' %}
        </div>
    </div>

    <!-- Map jQuery -->
<script type="text/javascript">
    $('#plant-country-select').on('change', function(){
        $.ajax({
            url: {{ url_for("main.plant_update")|tojson|safe }},
            type: "GET",
            contentType: 'application/json;charset=UTF-8',
            data: {
                'selected': document.getElementById('plant-country-select').value
            },
            dataType: "json",
            success: function (resp) {
                $('#plant-response').html(resp.data)
            }
        });
    })
</script>

{% endblock %}
</body>